<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="reset-content ion-padding">
  <div class="container">
    <div class="header">
      <ion-icon name="key-outline" class="header-icon"></ion-icon>
      <h1>Restablecer Contraseña</h1>
    </div>

    <ng-container *ngIf="!showSuccessMessage">
      <app-reset-password-form (success)="mostrarMensajeExito()"></app-reset-password-form>
    </ng-container>
    <ng-container *ngIf="showSuccessMessage">
      <app-reset-password-success></app-reset-password-success>
    </ng-container>

    <div class="footer">
      <span>¿Recuerdas tu contraseña?</span>
      <a routerLink="/login">Inicia sesión</a>
    </div>
  </div>
</ion-content>