.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 100%;
  padding: 16px;
}

.header {
  text-align: center;
  margin-bottom: 24px;
  
  .header-icon {
    font-size: 64px;
    color: var(--ion-color-primary);
    margin-bottom: 16px;
  }
  
  h1 {
    font-weight: 600;
    color: #fff;
    margin: 0;
    font-size: 24px;
  }
}

.form-container {
  .instructions {
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
    line-height: 1.5;
    font-size: 14px;
  }
}

.form-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 20px;
  --border-color: var(--ion-color-light-shade);
  
  ion-icon {
    color: var(--ion-color-primary);
    margin-right: 12px;
    font-size: 20px;
    margin-top: 20px;
  }
  
  ion-label {
    color: #fff;
    font-weight: 500;
  }
  ion-input, input {
    color: #fff !important;
  }
  input::placeholder {
    color: #fff !important;
    opacity: 0.7;
  }
}

.btn-primary {
  --border-radius: 8px;
  margin-bottom: 16px;
  height: 48px;
  font-weight: 600;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  &:hover {
    --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.btn-home {
  --border-radius: 8px;
  --background: var(--ion-color-light);
  --color: var(--ion-color-medium);
  height: 48px;
  font-weight: 600;
  margin-bottom: 24px;
  
  &:hover {
    --background: var(--ion-color-light-shade);
  }
}

.success-message {
  background: var(--ion-color-success-tint);
  border-left: 4px solid var(--ion-color-success);
  padding: 16px;
  margin-top: 20px;
  border-radius: 4px;
  color: var(--ion-color-success-shade);
  display: flex;
  align-items: center;
  
  ion-icon {
    margin-right: 8px;
    font-size: 20px;
    flex-shrink: 0;
  }
  
  span {
    font-size: 14px;
  }
}

.footer {
  text-align: center;
  margin-top: 24px;
  color: var(--ion-color-medium);
  
  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
  }
}


// Estilos para modo Android
.md {
  .header {
    margin-top: 24px;
  }
  
  .form-item {
    --background: transparent;
  }
}