<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Dashboard - StockMaster</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
  <app-home-header></app-home-header>
  <app-home-metrics></app-home-metrics>
  <app-home-quick-actions></app-home-quick-actions>
  <app-home-recent-activities></app-home-recent-activities>

  </div>
</ion-content>